@import "tailwindcss";

@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-poppins-sans), sans-serif;
  }
}

@theme {
  --color-primary: #095697;
  --color-true: #4fbd1b;
  --color-false: #e04e10;
}
